<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food website | MrFoody.com</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 867px)" href="/CSS/mobile.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&display=swap" rel="stylesheet">


</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../images/logo.png" alt="company logo">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#clients-section">Clients</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome to my home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sint aspernatur excepturi perferendis blanditiis omnis, rem, harum maxime.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
        <button class="btn">Reach us</button>
    </section>
   
    <section id="services-container">
        <h1 class="h-primary center">Our services</h1>
        <div id="services">
            <div class="box">
            <img src="../images/burger.png" alt="some image">
            <h2 class="h-secondary center">Food ordering</h2>
            <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque cupiditate at minima eius, debitis sed hic soluta commodi recusandae officiis.</p>
        </div>
            <div class="box">
            <img src="../images/chowmein.png" alt="some image">
            <h2 class="h-secondary center">Food ordering</h2>
            <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque cupiditate at minima eius, debitis sed hic soluta commodi recusandae officiis.</p>
        </div>
            <div class="box">
            <img src="../images/momo.png" alt="some image">
            <h2 class="h-secondary center">Food ordering</h2>
            <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque cupiditate at minima eius, debitis sed hic soluta commodi recusandae officiis.</p>
        </div>
        </div>
    </section>
    <hr>
    <section id="clients-section">
        <h1 class="h-primary center">Our clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="../images/cl1.png" alt="First client logo" >
            </div>
            <div class="client-item">
                <img src="../images/cl21.png" alt="Second client logo" >
            </div>
            <div class="client-item">
                <img src="../images/cl31.png" alt="Third client logo" >
            </div>
        </div>
    </section>
    <hr>
    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name:">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email address:">
                </div>
                <div class="form-group">
                    <label for="phone">Mobile:</label>
                    <input type="phone" name="phone" id="phone" placeholder="Enter your mobile number:">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" name="address" id="address" placeholder="Enter your address:">
                </div>
                <div class="form-group">
                    <label for="suggestion">Suggestion:</label>
                    <textarea name="suggestion" id="suggestion" cols="30" rows="10"></textarea>
                </div>
                
                <div>
                    <button class="btn" type="submit">Save</button>
                
                <button class="btn" type="reset">Clear all</button>
                </div>
            </form>
        </div>

    </section>
    <footer>
        <div class="center">
            Copyright &copy; www.MrFoodie.com. All rights reserved!
        </div>
    </footer>
</body>
</html>